div{
    display: flex;
    justify-content: center;
    display: block;
    text-align: center;
    background-color: #027373;
    height: 100px;
    width: 300px;
    border-radius: 3px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border: 1px  #5FCDD9 solid;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #172026, #027373, #172026);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

label{
    color: #5FCDD9;
    font-family: "Fira Code";
    margin-bottom: 10px;
}

select{
    background-color: #172026;
    color: #5FCDD9;
    border: 2px  #027373 solid;
    border-color: #5FCDD9;
    border-radius: 7px;
}

input{
    margin-bottom: 10px;
    background-color: #172026;
    border-radius: 7px;
    border-color: #5FCDD9;
}